{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block nav_index %}class="active"{% endblock %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Bringing you daily inspiration.</h1>
            <h2>Daily Quotes and Music Suggestions for You.</h2>
              <a id="btn-get-started" href="/main" >Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="static/img/record.gif" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->


{% endblock %}

    